nav {
  background-color: black;
  color: white;
  height: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #555;
}

.contenido {
  background-color: #ff8c00;
  text-align: center;
  padding-top: 50px;
  height: 80vh;
}

.contenido h1 {
  font-size: 48px;
  margin-bottom: 30px;
  color: white;
}

form {
  margin: 0 auto;
  width: 50%;
}

label {
  display: inline-block;
  width: 150px;
  text-align: left;
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  border: none;
  background-color: #f1f1f1;
  font-size: 16px;
}

input[type="submit"] {
  background-color: black;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 50%;
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: #555;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

table th, table td {
  padding: 10px;
  border: 1px solid black;
}

table th {
  background-color: black;
  color: white;
}

table td {
  text-align: center;
}

table tbody tr:hover {
  background-color: white;
}

.contenido img {
  max-width: 300px;
  max-height: 300px;
  margin: 20px auto; /* Centra la imagen horizontalmente y agrega un espacio de 20px de margen arriba y abajo */
  transition: transform 0.3s ease-in-out; /* Agrega una transición suave de 0.3 segundos al transform */
}

.contenido img:hover {
  transform: scale(1.2); /* Aumenta la escala de la imagen en un 20% cuando el mouse pase sobre ella */
}

.contenido p {
  font-size: 18px; /* Ajusta el tamaño de fuente de los párrafos a 18px */
}

/* Ocultamos el botón de envío original */
.contenido form input[type="submit"] {
  display: none;
}

/* Estilos para el botón personalizado */
.boton-enviar {
  text-align: center;
  margin-top: 20px;
}

.boton-enviar button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.boton-enviar button:hover {
  background-color: white;
  color: orange;
  cursor: pointer;
}

/* Posicionar la marca de agua en la esquina inferior derecha */
.watermark {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
}


